<link rel="stylesheet" href="/css/home.css">
<div class="main-box">
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" cols="60" rows="10" placeholder="add post.." required></textarea>
        <input type="submit" value="Post">
       
    </form>

    <div id="post-list-container">
        <ul>
            <% for(post of posts){%>
                <%- include('_post'); %>
                <%}%>
        </ul>
    </div>
</section>

<section class="user-friends">
    <h1>friends</h1>
    <% for(u of all_users){%>
        <p>
            <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
        </p>
    <%}%>
</section>
</div>